
body{
    background:url(images/me&b3abw.jpg) fixed no-repeat right center;
    background-color:red; 
    background-size: 42% 100%;
    font-family:Helvetica, sans-serif;
    font-weight:;
    font-size: x-large;
   
}
    


.titlepic{ border-radius:40px;
    width: 600x; height:460px;

}

.main-title{
    font-family:;
    color: black;
    }

/*.container1 p, h3{
            color: black;}

.container2 {
            color:black}

.container3 {
            color: black;}

c1-c3 used for testing purposes
            
*/ 

.link img{ 
    width:100px ; height:100px
    } 
/*
link:hover{
    color: red}
*/

.container4 h3{
    color:blue}


d


