body
 {
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    background-color: rgb(3, 53, 70);
    margin-left: 50px;
    margin-right: 50px;
    width: 550px;
}
h1 {
    font-weight:bold;
    font-size:30px; 
    text-transform: uppercase;
}
h2 {
    font-size:22px; 
}
p {
    font-size:16px; 
}
.list {
    font-size:16px; 
    padding-left: 120px;
    padding-right: 100px;
    text-align: left;
}
.image {
    border: 5px solid whitesmoke;
    border-radius: 140px;
    height: 280px;
    margin: auto;
    overflow: hidden;
    width: 280px;
}